*,hmtl{margin:0;}
html{scroll-behavior: smooth;}

a{
    text-decoration:none;
    color:black;    
}
#menu{
    height:8%;
    border-bottom:2px solid lightgray;
}
.linkmenu{
    display:block;
    float:right;
    margin-right:25%;
    margin-top:3%;
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#BC732A;
}
.linkmenu:hover{
    text-decoration:underline;
}

/*Identificação*/
#identificacao{
    height:350px;
    width:100%;
    border-bottom:1px solid lightgray;
}


#i1,#i2{
    background-color:#C47F35;
    display:block;
    width:35%;
    font-size:30pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:40px 40px;
    color:white;
    border:3px solid white;
    margin-top:50px;
    height:150px;
    margin-left:10px;
    margin-right:10px;
    border-radius:30px;
}
#i2{
    float:right;
}
#i1{
    float:left;
}
/*PATTEO*/
h3, h4{
    text-align:center;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#patt1, #patt2{
    width:48%;
    display:inline-block;
    margin:10px;
    border:2px solid lightgray;
    height:500px auto;
}
#patt2{
    float:right;
}
.logo, .capa{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}
.capa{
    border-radius:20px;

}
#videos{
    width:50%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:  rgb(148, 103, 60);
}
#vid2{
    float:right;
}
iframe{
    padding:10px;
}
#botao_patteo{
    background-color: white;
    border: 2px solid lightgray;
    color:black;
    width:150px;
    height:40px;
}

/*Lançamentos*/
#lancamentos{ /*Div cinza ajustável*/
    height:auto;
    background-color: #F0F0F0;;
    border:1px solid lightgray;

}
.titulo_lanca{
    text-align:center;
    font-size:25pt;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lançamento{
    width:95%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
}
.titulo_do_lanca{
    font-size:18pt;
}
.foto_esq, .texto_dir {
    margin:3%;
    width:40%;
    display: inline-block;

}
.texto_dir{
    background-color:white;
    float:right;
    width:45%;
    border:1px solid lightgray;

}
.botao{
    cursor:pointer;
    width:100px;
    height:40px;
    background-color:#BC732A;
    color:white;
    text-align:center;
    font-size:18pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:block;
    margin-left:auto;
    margin-right:auto;    
    margin-bottom:10px;
    border-radius:10px;
}
.detalhes{
    width:95%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;

}
.texto_dir li{
    font-size:16pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.moredetail{
    font-size:18pt;
    margin-left:20%;
}

/*CORES DE FUNDO*/
#l1{
    background-color: rgb(188, 213, 221);
}
#l2{
    background-color:rgb(240, 195, 123);
}
#det1{
    border:3px solid rgb(188, 213, 221);
}
#det2{
    border:3px solid rgb(240, 195, 123);
}
/*MAPA*/
.mapa{
    display:block;
    margin:auto;
}

/*FOTOS SOLTAS*/
.galeria{
    width:auto;
    display:block;
    margin:10px;
}
.galeria img{
    padding:12px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
    width:10%;
}
#galeria img:hover{
    opacity:0.5;
}


/*Hide details triangle*/
details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }


/*Slider*/
.slider{
	margin:50px auto;
	width:50%;
}

.img-box img{
	height:600px;
}

.btn{
	border:none;
	outline:none;
    border:1px solid black;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;			 
}

.btn:hover{
	background: #111;
}
.img-box{
    width:40%;
    display:inline-block;
}
/*SLIDER DO PATTEO*/
.img-box-pat img{
    width:90%;
    margin:auto;
    display:block;
    padding:10px;
}
.slider-pat{
    width:60%;
	margin:50px auto;
    border:2px solid lightgray;
}
h5{
    text-align:center;
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Barra de contato*/
#contato{
    border-top:2px solid lightgray;
    height: 150px;
    background-color:#F0F0F0;
    font-size:18pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#foot{
    border-top:2px solid lightgray;
    font-size:18pt;
    font-family:Arial, Helvetica, sans-serif;
    height:40px;

}
#maisinfo{
    margin-left:50px;
    margin-top:5px;
}
.container{
    width:20%;
    display:inline-block;
    text-align:center;
}
