*,hmtl{margin:0;}
html{scroll-behavior: smooth;}

a{
    text-decoration:none;
    color:black;    
}
#menu{
    height:8%;
    border-bottom:2px solid lightgray;
}
.linkmenu{
    display:block;
    float:right;
    margin-right:25%;
    margin-top:3%;
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#BC732A;
}
.linkmenu:hover{
    text-decoration:underline;
}

/*Identificação*/
#identificacao{
    height:350px;
    width:100%;
    border-bottom:1px solid lightgray;
}


#i1,#i2{
    background-color:#C47F35;
    display:block;
    width:35%;
    font-size:30pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:40px 40px;
    color:white;
    border:3px solid white;
    margin-top:50px;
    height:150px;
    margin-left:10px;
    margin-right:10px;
    border-radius:30px;
}
#i2{
    float:right;
}
#i1{
    float:left;
}


/*Lançamentos*/
#lancamentos{
    height:auto;
    background-color: #F0F0F0;;
    border:1px solid lightgray;

}
#lanca{
    text-align:center;
    font-size:35pt;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#l1{
    border:1px solid black;
    width:40%;
    margin-left:10px;
    text-align:center;
}
#galeria1{
    width:100%;
    display:block;
    margin:10px 80px;
}
#galeria1 img{
    padding:15px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
}
#galeria1 img:hover{
    opacity:0.5;
}
#l1dir, #l1esq {
    width:40%;
    display:inline block;
}

/*Barra de contato*/
#contato{
    border-top:2px solid lightgray;
    height: 150px;
    background-color:#F0F0F0;
    font-size:18pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#foot{
    border-top:2px solid lightgray;
    font-size:18pt;
    font-family:Arial, Helvetica, sans-serif;
    height:40px;

}
#maisinfo{
    margin-left:50px;
    margin-top:5px;
}
.container{
    width:20%;
    display:inline-block;
    text-align:center;
}
